<?xml version="1.0"?>
<model>
  <name>cosmo_rover</name>
  <version>0.0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Laurent Moreschi</name>
    <email>laurent@example.com</email>
  </author>
  <description>Simple four-wheel rover model for early Gazebo workflow testing.</description>
</model>
